[2016-03-16 14:31] leo opened #1 "Add overlay"

[2016-03-16 14:31] leo opened #2 "Load news via AJAX"
From here: http://davehakkens.nl/tag/preciousplastic/feed

[2016-03-18 11:43] #2 closed, assigned to nobody

[2016-03-19 14:35] leo commented on #1
Done!

[2016-03-19 14:35] #1 closed

[2016-03-20 11:53] leo opened #3 "Change order of menu"
the plan, machines, creations, news, start

[2016-03-20 11:54] leo opened #4 ""The plan" should be the landing page"

[2016-03-20 11:54] leo opened #5 "Make "load more news" work"

[2016-03-20 11:54] leo opened #6 "Sidebar should be fixed when scrolling"

[2016-03-20 11:58] leo opened #7 "Add "this is where you come in" arrow to list"

[2016-03-20 13:20] davehakkens opened #8 "Remove notification bar"
Remove the notification bar from the campaign page

[2016-03-20 13:21] davehakkens opened #9 "Change proportions Sea image"
Image is cut of weird on large screens![image](https://cloud.githubusercontent.com/assets/13672737/13904607/dad44ea8-eea6-11e5-8b71-7ee30d1fcf4f.png)

[2016-03-20 13:24] davehakkens opened #10 "Creations image size"
Change creations image size like on Sketch file, this one is to small  ![image](https://cloud.githubusercontent.com/assets/13672737/13904621/52e467ac-eea7-11e5-9d8b-6e2b0ad78878.png)

[2016-03-20 13:27] davehakkens opened #11 "Strip down footer on campaign page"
Remove the menu and logo

![image](https://cloud.githubusercontent.com/assets/13672737/13904639/bd9458f0-eea7-11e5-9673-57b2f19831d5.png)

[2016-03-20 13:28] davehakkens opened #12 "total share bug?"
Total share is already set to 303, bug?

[2016-03-20 13:29] davehakkens opened #13 "Don't cut of the machine image"
Make the machine-image full width on the campaign page (same as on machine page)

[2016-03-20 13:31] davehakkens opened #14 "Machine page has wrong images on mobile."
Not sure why, but images change on mobile. Seems like useless data which is loaded.

[2016-03-20 13:33] davehakkens opened #15 "BG Video Plan Page"
Header image should be a background video like Phonebloks and Story hopper. We think "play the video" button shouldn’t open the full video in another page. Is there another way to make something out of this?
If not,  link it to the campaign page.

[2016-03-20 13:36] davehakkens opened #16 "Fix load more news"
Load more news button doesn't work. If it is difficult to make this with RSS we could also load +/-10 items and make a button underneath "watch all news" which redirects you to http://davehakkens.nl/#preciousplastic

[2016-03-20 17:38] leo commented on #12
Nope. As I said, the count shows how often the URL of site was shared so far :blush: (The link has already been posted a few times)

[2016-03-20 17:38] #12 closed, assigned to nobody

[2016-03-20 17:39] leo commented on #8
The yellow bar, right? :blush:

[2016-03-20 17:40] leo commented on #14
What exactly do you mean? Which images are wrong? Screenshot? :P

[2016-03-20 18:09] leo commented on #5
Duplicate of #16

[2016-03-20 18:09] #5 closed, assigned to nobody

[2016-03-20 18:14] leo commented on #11
Is "campain page" => "the plan"?

[2016-03-20 19:56] davehakkens commented on #11
No Campaign page = intro (the one with the sea picture)

[2016-03-20 20:01] davehakkens commented on #14
Desktop:
![image](https://cloud.githubusercontent.com/assets/13672737/13906759/ceec72f4-eede-11e5-9ed6-4ded66d3e3dd.png)

Mobile:
![image](https://cloud.githubusercontent.com/assets/13672737/13906761/dfdf4460-eede-11e5-9760-6e64a030799e.png)

(also the header images change)

[2016-03-20 20:02] davehakkens commented on #8
correct!

[2016-03-20 20:02] davehakkens commented on #12
So this is the amount of shares so far of all the current listed platforms? cool!

[2016-03-20 20:26] thisismattia opened #17 "Side Bar Menu"
I would say for the side bar menu we should refer to slack for reference.
https://get.slack.help/hc/en-us/categories/200111606-Using-Slack
They've done it beautifully.

What it needs is:
- [x] Stack to top left (position: fixed?)
- [x] Hover state using our border grey

[2016-03-20 20:27] thisismattia opened #18 "Share box"

[2016-03-20 20:28] thisismattia opened #19 "Share box"
One little nifty thing.
Possible to add some Ease-In behaviour to the sliding panel?
Currently sliding feels a bit dull.

[2016-03-20 20:29] #18 closed, assigned to nobody

[2016-03-20 21:08] leo commented on #19
What do you mean with "sliding panel"? :blush:

[2016-03-20 21:28] davehakkens opened #20 "Align text Plan page"
text isn't aligned horizontally

 ![image](https://cloud.githubusercontent.com/assets/13672737/13907270/ed638626-eeea-11e5-87ba-56f2c3d58d45.png)

[2016-03-20 21:36] davehakkens opened #21 "Switch background color Start button"
Button color should be changed around
Make it white background on normal website (unactive)
Make it green background when you are in the start section (active)

![image](https://cloud.githubusercontent.com/assets/13672737/13907322/e3e76f08-eeeb-11e5-97b7-381a71bb3d79.png)

[2016-03-20 21:40] thisismattia commented on #19
Ah sorry..I mean the sliding sharing box..when user click SPREAD

[2016-03-21 09:49] leo commented on #6
Duplicate of #17

[2016-03-21 09:49] #6 closed, assigned to nobody

[2016-03-21 10:36] #4 closed, assigned to nobody

[2016-03-21 10:41] #3 closed, assigned to nobody

[2016-03-21 11:06] #20 closed, assigned to nobody

[2016-03-21 11:09] #8 closed, assigned to nobody

[2016-03-21 11:11] #11 closed, assigned to nobody

[2016-03-21 11:16] #21 closed, assigned to nobody

[2016-03-21 11:32] #7 closed, assigned to nobody

[2016-03-21 11:39] #10 closed, assigned to nobody

[2016-03-21 11:47] #14 closed, assigned to nobody

[2016-03-21 11:58] #19 closed, assigned to nobody

[2016-03-21 11:59] leo commented on #19
Now it uses [this](http://easings.net/#easeInOutCubic) function. If you don't like it, please choose a different one from [here](http://easings.net/).

[2016-03-21 12:03] #9 closed, assigned to nobody

[2016-03-21 12:16] leo commented on #17
Instead of the "border grey", I've used a slightly darker color. Let me know if you don't like it!

[2016-03-21 13:07] thisismattia commented on #17
hey leo..is it possible to get the side bar element container to highlight instead of the text itself as it is happening on slack website?
Or is it too much of a workaround?

[2016-03-21 13:12] thisismattia commented on #15
What's your opinion here @leo ?

The original concept was to have the video playing in the bg by default with a thick white overlay.
Like is happening here:

http://fantasy.co/

As users click "play video" the text and overlay would disappear leaving space for the video to be watched.
Is this even technically possible?

[2016-03-21 13:19] leo commented on #17
@mattia-io What do you mean with "highlight"?

[2016-03-21 13:21] leo commented on #17
Fixed in afd92ae4dcd1b2a4ad22e943d4414aff3a6897d2

[2016-03-21 13:22] thisismattia commented on #17
![screen shot 2016-03-21 at 14 20 41](https://cloud.githubusercontent.com/assets/17761877/13919883/57c6dbfa-ef70-11e5-94d7-f6671390333b.png)

[2016-03-21 13:23] thisismattia commented on #17
Fixed looks really good now...any chance we can make it not overlap the footer?

![screen shot 2016-03-21 at 14 22 52](https://cloud.githubusercontent.com/assets/17761877/13919919/8070d178-ef70-11e5-8de9-a02696e3e9b3.png)

[2016-03-21 13:26] leo commented on #17
Already working on the footer thing. Regarding highlighting different sections: That basically means that all pages would be on a single one (which is pretty big). The sections on Slack's page only contain a few bullet points (not like our site). So I spoke to @davehakkens in the beginning and we made the decision to keep it like that.

[2016-03-21 13:33] leo commented on #17
Fixed the footer problem in f7bf44cc563c3c9d8aea04aebb3a39fe2cc9fff9

[2016-03-21 13:33] #17 closed, assigned to nobody

[2016-03-21 13:43] #13 closed, assigned to nobody

[2016-03-21 13:52] leo commented on #16
It IS possible, but much more difficult. I also think that it's a good idea to forward users to your site if they want to read more since they can also subscribe to your RSS feed there. Otherwise, they might not even find it. The "news" page now also shows 10 items! :blush:

[2016-03-21 13:53] #16 closed, assigned to nobody

[2016-03-21 14:29] leo commented on #15
@davehakkens is currently creating a video that will be added behind that white overlay.

[2016-03-21 14:49] leo opened #22 "Check hover effects on buttons"
Especially on the "Plan" page

[2016-03-21 15:14] thisismattia commented on #22
Still no hover at all :(

[2016-03-21 15:14] #15 closed, assigned to nobody

[2016-03-21 15:22] leo commented on #22
@mattia-io On it!

[2016-03-21 15:26] #22 closed, assigned to nobody

[2016-03-21 17:43] davehakkens opened #23 "Remove icon before collect"
Had to change the order of 2 chapters. Now collect has a download icon.
Probably because page-id is 8
Don't know hot to fix...

![image](https://cloud.githubusercontent.com/assets/13672737/13928071/b05638e6-ef94-11e5-8667-d91b71700946.png)

[2016-03-21 18:23] #23 closed, assigned to nobody

[2016-03-21 19:00] leo opened #24 "Video chapters aren't linked"
<img width="674" alt="screen shot 2016-03-21 at 20 00 29" src="https://cloud.githubusercontent.com/assets/6170607/13930563/98189d18-ef9f-11e5-8c29-7bc7fbd3b0a0.png">

[2016-03-21 19:02] leo opened #25 "Make section colors match videos"
<img width="789" alt="screen shot 2016-03-21 at 20 02 24" src="https://cloud.githubusercontent.com/assets/6170607/13930606/d85cf9fa-ef9f-11e5-9485-69812b0b57c7.png">

[2016-03-21 21:33] davehakkens opened #26 "Clickable checkbox"
Make the empty checkbox a link to the open up the yellow spread overlay ![image](https://cloud.githubusercontent.com/assets/13672737/13934896/ca20a944-efb4-11e5-9724-42893023f8e1.png)

[2016-03-21 21:34] thisismattia commented on #26
WOW some weird metaphysical brain connection is happening here...check slack :)

[2016-03-21 21:34] thisismattia opened #27 "Image Optimization"

[2016-03-21 21:35] thisismattia opened #28 "Proof reading"
In this case I'd say let's go through all the text ourselves first and then send it to native speakers to double check.

[2016-03-21 21:36] leo commented on #28
Are they even finished? I think there are still a lot of placeholders.

[2016-03-21 22:02] thisismattia opened #29 "Button open Blank"
I would open the "show all news" button in a new window if possible..
we don't want people to leave PP website

[2016-03-21 22:03] thisismattia opened #30 "Video Chapters"
Are video chapters enabled?

[2016-03-21 22:06] thisismattia opened #31 "EXTRA section"
What is our strategy here for the beginning when there will not be material to load?

[2016-03-21 22:07] thisismattia opened #32 "SUPPORT section"
I would add a button linking to the forum where people can actually get support..

[2016-03-21 22:10] thisismattia opened #33 "Help Us section (from footer)"
I would add a link to the relevant sections to "join the community", "spread the word", "donate" and "build"

[2016-03-21 22:12] leo commented on #30
Duplicate of https://github.com/hakkens/precious-plastic/issues/24

[2016-03-21 22:12] #30 closed, assigned to nobody

[2016-03-21 22:44] davehakkens opened #34 ""Introduction" is missing in mobile menu"
The introduction link is missing at the start section in the mobile menu
![image](https://cloud.githubusercontent.com/assets/13672737/13936571/e26b7f7e-efbe-11e5-83d7-e1a413f85aa4.png)

[2016-03-21 23:03] davehakkens opened #35 "Change moulding to compression"
One of the machines is called moulding in the website. But it should be compression.
![image](https://cloud.githubusercontent.com/assets/13672737/13936930/80d371d8-efc1-11e5-9260-8a14afc3081e.png)

[2016-03-22 01:30] davehakkens commented on #31
working on it, we already have some things in place to share!

[2016-03-22 01:30] #31 closed, assigned to nobody

[2016-03-22 11:00] #35 closed, assigned to nobody

[2016-03-22 11:09] leo commented on #34
I've made it hidden for the smaller screen version because it broke out of the container:

<img width="819" alt="screen shot 2016-03-22 at 12 07 24" src="https://cloud.githubusercontent.com/assets/6170607/13949676/c54dd15e-f026-11e5-9533-f40f4b608cf4.png">

Besides of that, the "Intro" link does the same action as the "Start" button in the big menu, doesn't it? So looking at accessibility, it's no

[2016-03-22 11:10] #29 closed, assigned to nobody

[2016-03-22 11:15] #26 closed, assigned to nobody

[2016-03-22 11:17] leo commented on #33
@davehakkens What do you think about this?

[2016-03-22 11:28] thisismattia opened #36 "Hmenu"
Main Hmenu does not switch to X icon as it is pressed..
![screen shot 2016-03-22 at 12 26 50](https://cloud.githubusercontent.com/assets/17761877/13950144/8d39e98a-f029-11e5-8f22-71bbdc515ac1.png)

[2016-03-22 11:40] thisismattia opened #37 "Submenu mobile overlay issues"
I think the z-index is a bit messed up on mobile for the submenu..the video is overlapping at times

![screen shot 2016-03-22 at 12 31 16](https://cloud.githubusercontent.com/assets/17761877/13950432/39c83494-f02b-11e5-84fe-60ee2000b174.png)
![screen shot 2016-03-22 at 12 31 25](https://cloud.githubusercontent.com/assets/17761877/13950433/39c9bfc6-f02b-11e5-8a04-736ed5a5442b.png)
![screen shot 201

[2016-03-22 11:45] thisismattia opened #38 "Sharing bottom bar"
Could we have the entire yellow bottom bar clickable?
This would ease user interaction making more people share (hopefully)

![screen shot 2016-03-21 at 22 52 02](https://cloud.githubusercontent.com/assets/17761877/13950548/f23395b4-f02b-11e5-9e1b-85281a01c31a.png)

[2016-03-22 12:09] #24 closed, assigned to nobody

[2016-03-22 12:18] #25 closed, assigned to nobody

[2016-03-22 12:23] leo commented on #37
@mattia-io Not able to reproduce this. Works completely fine for me. The menu shouldn't overlay the video at all, it should rather push it down:

<img width="503" alt="screen shot 2016-03-22 at 13 22 46" src="https://cloud.githubusercontent.com/assets/6170607/13951430/2f9fa15e-f031-11e5-92ee-11d3557945f5.png">

What device are you testing on? Does reloading fix the issue?

[2016-03-22 12:27] leo commented on #38
We can do that! However, it will take away our ability to add a "Close" button later.

[2016-03-22 12:29] leo commented on #37
Yes, it does! :blush:

[2016-03-22 12:29] #37 closed, assigned to nobody

[2016-03-22 12:35] #32 closed, assigned to nobody

[2016-03-22 12:55] leo commented on #38
@leo Nah, we can also make it thinner!

[2016-03-22 12:56] #38 closed, assigned to nobody

[2016-03-22 18:56] davehakkens commented on #34
well it is a bit weird. But I can live with that! Can we get it back on mobile?

[2016-03-22 18:56] davehakkens commented on #33
@mattia-io You mean adding more links in the footer?

[2016-03-22 18:58] davehakkens opened #39 "Bug in extra"
items on the extra page are often stacked on top of each other...

![image](https://cloud.githubusercontent.com/assets/13672737/13964054/43a25f5c-f068-11e5-841b-71d6d47c1f2b.png)

[2016-03-22 20:04] #39 closed, assigned to nobody

[2016-03-22 20:04] leo commented on #39
And again, wrong class name :blush:

<img width="263" alt="screen shot 2016-03-22 at 21 03 41" src="https://cloud.githubusercontent.com/assets/6170607/13966230/b4d427a6-f071-11e5-9c51-2d6907c48fa0.png">

[2016-03-22 20:13] #34 closed, assigned to nobody

[2016-03-22 23:02] davehakkens opened #40 "Google analitics"
Add Google analitics code to website

[2016-03-22 23:22] davehakkens opened #41 "Machine page mobile different images"
There are still some other images displayed at the machine page on mobile. Now the images don't match anymore. ![image](https://cloud.githubusercontent.com/assets/13672737/13971037/3b193a0c-f08d-11e5-8c4c-8e0efcd8cf4c.png)

[2016-03-22 23:52] davehakkens opened #42 "404 error page"
Layout for the error page. Its a rough outline, doesn't need to be exactly this. Feel free to use any paddings or font sizes that are already set.
[404.zip](https://github.com/hakkens/precious-plastic/files/185186/404.zip)

[2016-03-23 08:33] davehakkens opened #43 "Make the button white"
I've been add this for hours (actually about 45 min) Can't figured it out with the nested css. The .start button needs to be white instead of green on the .start page ![image](https://cloud.githubusercontent.com/assets/13672737/13979618/f1c41c6c-f0d9-11e5-8e4a-6c834d4fd726.png)

[2016-03-23 12:32] thisismattia commented on #27
Selection on this image still got some issues

![screen shot 2016-03-23 at 12 45 15](https://cloud.githubusercontent.com/assets/17761877/13985208/aff9adac-f0fb-11e5-951c-2a337d12b18d.png)

[2016-03-23 12:34] thisismattia opened #44 "Inline text link"
What is our color policy in regards..right now we have default blue and purple that looks terrible..
Dave, shall we use the primary green? Or the red (more visible)?

![screen shot 2016-03-23 at 12 49 03](https://cloud.githubusercontent.com/assets/17761877/13985253/f492415e-f0fb-11e5-8ddf-1ba95789bdfe.png)
![screen shot 2016-03-23 at 12 54 55](https://cloud.githubusercontent.com/assets/17761877/13

[2016-03-23 12:35] thisismattia opened #45 "Missing Image"
Looks like this image is not loading
Can be found here
http://new.preciousplastic.com/videos/build/compression/

![screen shot 2016-03-23 at 12 59 12](https://cloud.githubusercontent.com/assets/17761877/13985266/05390100-f0fc-11e5-9ffb-3a3290c68113.png)

[2016-03-23 12:37] thisismattia opened #46 "EXTRA bug still open"
I know this topic was closed but the issue persist on macbook 13inch

![screen shot 2016-03-23 at 13 13 31](https://cloud.githubusercontent.com/assets/17761877/13985313/542a51f6-f0fc-11e5-90c3-89c282b4ed2b.png)

[2016-03-23 12:47] thisismattia opened #47 "Logo Replacement"
Dave let's make sure we replace the correct version of the logo all across the website

This is the latest version that I have on my laptop..same s you?

[PP_Logo.zip](https://github.com/hakkens/precious-plastic/files/185980/PP_Logo.zip)

[2016-03-23 22:22] davehakkens commented on #27
fixed

[2016-03-23 22:22] #27 closed, assigned to thisismattia

[2016-03-23 22:27] davehakkens commented on #47
I've added the logo in the download-pack: https://github.com/hakkens/precious-plastic-kit
Replaced it on the website with the final version

[2016-03-23 22:27] #47 closed, assigned to davehakkens

[2016-03-24 09:39] davehakkens commented on #45
fixed!

[2016-03-24 09:39] #45 closed, assigned to nobody

[2016-03-24 09:48] davehakkens opened #48 "Favicon"
Can we add a favicon?
Tried to add one but not sure where. Attached a.zip file with all sizes.
And the code, if needed
`<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-

[2016-03-24 09:59] leo commented on #40
Can you please post your tracking ID here? Should start with "UA-".

[2016-03-24 10:24] davehakkens opened #49 "Auto updates shared"
Can we make this update automatically? So its synced with the sharing numbers from the yellow page
![image](https://cloud.githubusercontent.com/assets/13672737/14014464/e0ec0420-f1b2-11e5-9035-2290add220a2.png)

[2016-03-24 10:25] davehakkens commented on #40
UA-69053098-1

[2016-03-24 10:31] #40 closed, assigned to nobody

[2016-03-24 10:37] #43 closed, assigned to nobody

[2016-03-24 10:37] leo commented on #44
My suggestion is to make it match the color of the current section (in this case green) - like the button.

[2016-03-24 10:45] leo commented on #41
Haha. Another example of when you've made changes to the design after I've already coded the page. Fixed it! :blush:

[2016-03-24 10:45] #41 closed, assigned to nobody

[2016-03-24 10:47] davehakkens commented on #48
[bd788afc7edc1593892413558f9aca73.ico.zip](https://github.com/hakkens/precious-plastic/files/187657/bd788afc7edc1593892413558f9aca73.ico.zip)

[2016-03-24 10:50] davehakkens commented on #48
500x500 favicon ![favicon](https://cloud.githubusercontent.com/assets/13672737/14015035/88e10538-f1b6-11e5-89da-c3c5f6813042.png)

[2016-03-24 10:56] #48 closed, assigned to nobody

[2016-03-24 11:27] leo commented on #49
Closed in 22b8b2f38c4e50369cbf190627df6c9f78667413

[2016-03-24 11:27] #49 closed, assigned to nobody

[2016-03-24 11:33] #46 closed, assigned to nobody

[2016-03-24 12:10] #42 closed, assigned to nobody

[2016-03-24 14:12] thisismattia commented on #44
Agreed. @davehakkens ?

[2016-03-24 14:14] thisismattia commented on #33
Good as it is now

[2016-03-24 14:14] #33 closed, assigned to nobody

[2016-03-24 14:14] thisismattia commented on #28
Sent to british friend..he can proof read through the week end

[2016-03-24 14:19] thisismattia opened #50 "Sharing Count"
Sharing count does look like is wired up or working..can anyone check on that?

[2016-03-24 14:21] thisismattia opened #51 "Sharing Placeholder"
I propose

Turn plastic waste into new valuable things
http://preciousplastic.com

[2016-03-24 15:42] davehakkens commented on #51
I had: Boost plastic recycling! #preciousplastic.com
But i'm going for the one from mattia.

Turn plastic waste into new valuable things
http://preciousplastic.com

[2016-03-24 15:44] davehakkens commented on #44
i'm up for that! Does it work with the yellow?
Otherwise a nicer blue works for me as well. #79BAD9

[2016-03-24 16:04] leo commented on #50
Are you asking if it's working? It is! :blush:

[2016-03-24 16:08] leo commented on #28
@mattia-io Awesome! Let us know when you've got the results.

[2016-03-24 16:08] #28 closed, assigned to nobody

[2016-03-24 16:18] #51 closed, assigned to nobody

[2016-03-24 17:56] thisismattia commented on #51
Yours was good too dave!

[2016-03-24 17:58] thisismattia commented on #50
Mmmh...but it shows zero shares at my end and I know that at least I have shared it once :)

![screen shot 2016-03-24 at 18 57 32](https://cloud.githubusercontent.com/assets/17761877/14026254/515c9514-f1f2-11e5-8ea4-6506b4a7bcb5.png)

[2016-03-24 18:24] thisismattia opened #52 "START button"
Sorry guys to bring this up again..but our most important button across the website is often invisible on our mainpage and difficult to spot on other pages too..

We need to find a better solution- @davehakkens ?

Full green/ white text with darker green on hover?
Or just inverted from current?

![screen shot 2016-03-24 at 19 21 44](https://cloud.githubusercontent.com/assets/17761877/14027031/f7a2

[2016-03-24 19:15] leo commented on #50
@mattia-io Can you share the output of your [browser console](https://developer.chrome.com/devtools/docs/console)?

[2016-03-24 19:18] leo commented on #52
A lighter green, if you ask me!

[2016-03-24 19:41] thisismattia commented on #50
Of course

![screen shot 2016-03-24 at 20 40 52](https://cloud.githubusercontent.com/assets/17761877/14029146/bd56d7f8-f200-11e5-9ff8-89c2cfac6e90.png)

[2016-03-24 20:34] davehakkens commented on #52
honestly i’m quite ok with it. Quite visible on other pages.
However open for other suggestions, let me know what you think is the best

Op donderdag 24 maart 2016, om 20:18 heeft Mattia het volgende geschreven:

[2016-03-25 09:54] #44 closed, assigned to nobody

[2016-03-25 09:56] leo commented on #50
@mattia-io Works fine for me. After doing some research, it looks like one of your Extensions is causing this problem. Read more [here](https://bugs.chromium.org/p/chromium/issues/detail?id=360583). Try disabling all of them and try it again! :blush:

[2016-03-25 09:56] #50 closed, assigned to nobody

[2016-03-25 10:04] leo commented on #36
While this isn't something that's actually necessary to get implement, I've did it! :wink:

[2016-03-25 10:05] leo commented on #36
Done in 5043ff80a6b3c844e303c66f1a81f920f48d3b21

[2016-03-25 10:05] #36 closed, assigned to nobody

[2016-03-25 10:09] thisismattia commented on #50
Interesting...indeed it is working on different browser!

[2016-03-25 10:25] leo commented on #52
Using the text color or something similar might also be a great idea (so that it's only green on the "Start" pages):

<img width="653" alt="screen shot 2016-03-25 at 11 25 00" src="https://cloud.githubusercontent.com/assets/6170607/14042649/40f040e2-f27c-11e5-963b-1ddf2f8d69ae.png">

[2016-03-25 10:40] thisismattia opened #53 "Thanks to LEO"
Heyyyyyy I don't see a thanks to @Leo section on the website !!
Gotta fix that guys!

[2016-03-25 10:42] thisismattia commented on #52
Like this option..ATM we have 3 different colors for that button..
I would keep it consistent in CAMPAIGN, PLAN, MACHINE, CREATIONS, NEWS and change it for START

[2016-03-25 10:48] leo commented on #52
@mattia-io Yep, exactly like that! Are you okay with that, @davehakkens? Or do you have a different idea?

[2016-03-27 14:03] leo commented on #53
Closed in f2eb10d7c8a9ca7ee0248a279fecf73a90578e2b :blush:

[2016-03-27 14:03] #53 closed, assigned to nobody

[2016-03-29 14:48] davehakkens commented on #52
Not sure if I fully understand it... But if you guys are up for it i'm in as well!

[2016-03-29 15:32] #52 closed, assigned to nobody

[2016-03-29 15:38] thisismattia opened #54 "Thanks to dumpark"
Hey..we need to include a big up for the guys at dumpark in the thanks page.
They jumped in right away and did a great job !!
@davehakkens?

[2016-03-29 21:47] davehakkens commented on #54
hmm.. not sure if that is fair against you guys. I mean its nice what they did. But you are all involved much more. But i'll defenitly make a tweet/post about it when its running stable!

[2016-03-29 21:48] davehakkens opened #55 "Weird signs on ~analitics~?"
![image](https://cloud.githubusercontent.com/assets/13672737/14124924/9bd8b20c-f608-11e5-9320-59c187a3f379.png)

[2016-03-29 21:56] leo commented on #55
This is intended. See Slack for more details.

[2016-03-29 21:56] #55 closed, assigned to nobody

[2016-03-29 21:56] thisismattia commented on #55
I think it stands for Circa or Ca...

[2016-03-29 21:57] thisismattia commented on #54
I am easy

[2016-03-29 22:03] leo commented on #55
@davehakkens @mattia-io Exactly. It's called a "tilde" and in math, two of them one above the other usually stand for "approximately equal to". But they're also being used as single ones to indicate that a certain amount has been calculated approximately.

![tumblr_inline_mp9kum0he91qz4rgp](https://cloud.githubusercontent.com/assets/6170607/14125424/6b423386-f60b-11e5-9c3e-7b96a0af4248.png)

[2016-03-29 22:09] davehakkens commented on #55
I know the character. But is this because we want it or because we haven't got another option? If it's the first i'd say a specific number is much more interesting..

[2016-03-29 22:11] leo commented on #55
@davehakkens Please take a look at Slack, as I said. This is only a temporary solution. :blush:

[2016-03-29 22:12] davehakkens commented on #55
Sorry, couldn't find it! But ok :+1:

[2016-04-05 09:21] thisismattia opened #56 "Android issue"
Hello,

Testing on a friend android I encountered some issues..attachements below

![12966178_10156776524445301_397161639_n](https://cloud.githubusercontent.com/assets/17761877/14276792/804057da-fb20-11e5-9630-07990b339185.jpg)
![12966191_10156776523970301_1024861291_n](https://cloud.githubusercontent.com/assets/17761877/14276793/804292ac-fb20-11e5-820a-167071aebc26.jpg)
![12966452_101567765243153

[2016-04-05 09:22] thisismattia commented on #56
Data in the analytics are buggy and as you click spread it send you back top page

[2016-04-05 09:38] leo commented on #56
@mattia-io You you attach the Android version? And are you able to update in the system's settings, or is it a fixed version for your device?

[2016-04-05 10:34] thisismattia commented on #56
That is the android version.
Is not my phone. Was just testing from other devices to get a broad range of devices

[2016-04-05 10:40] leo commented on #56
@mattia-io No, I'm talking about the actual version of the operating system you're using (`2.0.0` for example) - as devs say it: "The version tag".

[2016-04-12 10:10] thisismattia opened #57 "User's flagged"
1. http://preciousplastic.com/contact/videos/support is broken
2. Looking for a RSS feed or such from your page, to connect to my
   Liferea and to https://libtech.website

@dave any opinion on possibly implementing RSS feeds?

[2016-04-12 10:18] leo commented on #57
I don't remember that "http://preciousplastic.com/contact/videos/support" ever existed? 😄 As far as I know, only [this](http://preciousplastic.com/contact) page exists under this path. More details?

[2016-04-12 10:35] thisismattia commented on #57
Let's wait for dave. I think it should redirect to the support page on the videotutorial section.

[2016-04-12 12:07] davehakkens commented on #57
Can’t remember that link either.
i’d say you are referring the the url Leo is talking about..
http://preciousplastic.com/videos/support/
or this one
http://preciousplastic.com/contact/

Op dinsdag 12 april 2016, om 16:35 heeft Mattia het volgende geschreven:

[2016-04-12 18:09] davehakkens opened #58 "Pinterest doesn't work?"
"got this in a mail: Could you please make you site actually compatible with Pinterest ? Today, the pinterest button it displays fails because of some wrong URL for your images. Also it seems to prevent Pinterest's plugin for Safari.app to pin your site, too."

someone has Pinterest to try out?

[2016-04-13 17:20] shakaran opened #59 "Enable translations"
I would like translate your fully website to Spanish for free. It is only needed that you add l18n support in your ruby project, Would be possible?

http://guides.rubyonrails.org/i18n.html

I know Ruby & Rails too in case that you want help too.

[2016-04-13 17:49] leo commented on #59
@shakaran Thank you for your suggestion! But in the current state of the site, it's not possible to add translations using Ruby or Jekyll plugins. The reason for this is that we're hosting it on Github Pages.

But making it available under a different path ("/language/..") might be possible.

@davehakkens ^

[2016-04-13 18:38] shakaran commented on #59
@leo Thanks Leo! Well I can translate the fully site in a couple of hours, it doesn't have a lot text, so if you can put the site hosted in another place could be easily.

I suggest you a cheap and small Digital Ocean droplet, in case that you consider that option, if you want use my referal link you will get $10 for free https://m.do.co/c/46d666cd2390

Just let me know when you enable the transla

[2016-04-14 12:50] thisismattia commented on #59
@leo @davehakkens we're currently receiving tons of emails from people that want to offer help translating the website or video.
Would be phenomenal to find a way to enable this crowdsourced input- as it represents a unique opportunity to achieve one of our main goal, reaching as many people as possible.

[2016-04-17 12:46] thisismattia opened #61 "Links not styled"
Hey @leo @davehakkens

Links in the machine page are unstyled. Can we get them either red or lightblue like in the plan page.
I did try to push a commit but I don't think it worked for some reasons :(

![screen shot 2016-04-17 at 14 27 39](https://cloud.githubusercontent.com/assets/17761877/14587045/3b96f4d8-04ab-11e6-9f21-4c77f755fe42.png)

[2016-04-17 15:03] #61 closed, assigned to nobody

[2016-04-17 15:04] leo commented on #61
Just a quick tutorial: You don't need to mention Dave or me when opening an issue like this. Since we're both contributors of this repository, we'll receive notifications anyway.

[2016-04-19 08:22] davehakkens opened #62 "Video isn't working on Internet Explorer"
We got quite a few mail about people not being able to see the videos on our website.
Not sure what's the problem, so i'll try to gather more feedback.
Is there a way to fix it or show a link incase the video doesn't work?

Detail from people where it didn't work so far
Susan: My Browser is Internet Explorer; Dell XPS, Windows 7

[2016-04-19 08:33] leo commented on #62
Hmm, that's really weird. I mean, can you ask them if they're able to view **embedded** YouTube videos on other sites? Because as far as we're concerned, there's probably not much we can do about it (YouTube handles that stuff)... 🙈

Screenshots of the browser window and/or the console would be very helpful as well!

[2016-04-19 08:34] davehakkens commented on #62
Yes, they are able to view other embeds and videos from Youtube itself. –Hard to ask some old lady for a screenshot from the console. But i’ll try!

Op dinsdag 19 april 2016, om 14:03 heeft Leonard Lamprecht het volgende geschreven:

[2016-04-19 08:35] leo commented on #57
Closing this now, since the upper URLs seem to work fine. Please re-open if there's anything else we need to fix here.

[2016-04-19 08:35] #57 closed, assigned to nobody

[2016-04-19 08:36] leo commented on #54
Fixed in 3292822c350910e048b58cafdf26405fda45e951

[2016-04-19 08:36] #54 closed, assigned to nobody

[2016-04-19 20:03] thisismattia commented on #59
Guyz!

Someone at OSCE pointed me to this website as a great tool for translation- maybe it could be useful I don't know. I leave it up to @leo to say if is an option for us or not
https://www.transifex.com/

They also have an opensource page
https://www.transifex.com/customers/open-source/

[2016-04-23 07:39] leo commented on #59
We're working on https://github.com/hakkens/precious-plastic/pull/63

[2016-04-23 08:24] leo commented on #56
Closing this on behalf of @mattia-io, since we're not able to retrieve the version tag to test on that certain version. Current version of Android seems to work fine.

[2016-04-23 08:24] #56 closed, assigned to nobody

[2016-04-23 16:19] #59 closed, assigned to nobody

[2016-04-26 06:57] thisismattia opened #65 "Start button pronb"
![screen shot 2016-04-26 at 08 55 36](https://cloud.githubusercontent.com/assets/17761877/14809371/d7615574-0b8c-11e6-868c-2633044ce45a.png)

[2016-04-26 07:00] leo commented on #65
@mattia-io Everything is broken. No need for issues :) Will revert back.

[2016-04-26 07:00] #65 closed, assigned to nobody

[2016-04-26 19:04] gperdomo opened #68 "Start translating?"
Hi.

I am able to translate the pages into Spanish by adding branches to each page with the text translated. However, I don't know if I should do that now, considering changes being made to make the site more easily translatable. Please let me know if I should wait.

Cheers,
Giselle

[2016-04-26 19:10] leo commented on #68
We're currently working on a guide on how to add new translations. I will let you know when it's ready!

[2016-04-29 08:44] davehakkens opened #71 "Translations issues"
First of @GjjvdBurg AWESOME what you have done so far for the translation. This was something we really wanted to get going but didn't have the manpower for it. Big thanks 💪
Also thanks @leo for helping to implement it! Really starting to love this whole Github-vibe

I've followed most of your developments, but I might have missed a few. Got 2 issues..
1: Where to select the language?
2: Links are

[2016-04-29 08:49] davehakkens opened #72 "A few language issues and thanks!"
First of @GjjvdBurg AWESOME what you have done so far for the translation. This was something we really wanted to get going but didn't have the manpower for it. Big thanks 💪
Also thanks @leo for helping to implement it! Really starting to love this whole Github-vibe

I've followed most of your developments, but I might have missed a few. Got 2 issues..
1: Where to select the language?
2: Links are

[2016-04-29 09:06] #71 closed, assigned to nobody

[2016-04-29 10:02] leo commented on #72
Disabled them temporarily. We'll have to set um a guide for telling people how to translate the site, before we invite someone... :blush:

[2016-04-30 02:54] GjjvdBurg commented on #72
@davehakkens @leo No problem, glad I can help out in a small way with this great project! The second issue should be fixed with #73. I haven't implemented a language selector because I didn't know if you guys wanted to decide on how to do this by yourselves. I'm definitely willing to help with this if you like though.

[2016-04-30 08:52] leo commented on #72
@GjjvdBurg Thanks for fixing the issue. I just re-enabled the german translation and everything seems to work fine!

@davehakkens Can you add the language selector design to the sketch file in the future? I'm going to open a special issue for this (https://github.com/hakkens/precious-plastic/issues/75).

[2016-04-30 08:53] leo opened #75 "Language selector"
A dropdown that lets you switch between translations of the site.

[2016-04-30 08:53] #72 closed, assigned to nobody

[2016-04-30 23:06] pmargreff commented on #68
Hi guys, I can help with portuguese (Brazil), the pages and maybe the project documentation too.

[2016-05-01 10:44] sylvainv commented on #68
@leo that's very nice, but you could have dropped a line in https://davehakkens.nl/community/forums/topic/translating-our-content/ to say you are working on that. I mentioned I was working on making the website translatable. That would have saved me 2 days of actually doing the same work you are doing. My bad too, should have created an issue too.

[2016-05-02 05:43] leo commented on #68
@sylvainv Oh, didn't notice that post! I'm sorry. I'm not really active on Dave's forum...

[2016-05-03 01:33] sylvainv commented on #75
@leo I am curious as to why you didn't choose to use i18n strings for the translation ? With a website per language, the more language there is, the more html there will be. I made a version using i18n strings if you are interested. So there are multiple translation but only one html

[2016-05-03 08:23] leo commented on #75
@sylvainv I didn't create this update (as you can see in the commit stream). If you want, you can show us your version as well... :blush:

[2016-05-08 11:05] sylvainv commented on #75
@leo I uploaded a version on my fork: https://github.com/sylvainv/precious-plastic/tree/feature/translation

The default translation for it is french, so it will load french at first. Other language selectors are on the bottom. Translation files are in `_data`. I only translated the home page in French. But you'll get the idea.

[2016-05-08 21:40] leo commented on #75
@sylvainv I cannot find `_data`. Where exactly is it located? 😊

[2016-05-09 00:24] sylvainv commented on #75
@leo you should be able to see it now.

[2016-05-09 08:09] leo commented on #75
@sylvainv Ahhh, now I get it! :blush: Sadly, I think this won't work for us. Mostly because we've decided to host our site on GitHub Pages for convenience (like mentioned in `README.md`). And since GitHub Pages doesn't support any others than [these](https://pages.github.com/versions/) plugins, there's no other way to do this...

As an example, they don't support "jekyll-language-plugin".

[2016-05-11 04:52] davehakkens commented on #62
another one where it doesn't work.  Internet Explorer version 11
![unnamed](https://cloud.githubusercontent.com/assets/13672737/15170290/283d2db6-1762-11e6-8aca-d7a42f3e01c3.jpg)

[2016-05-11 05:35] davehakkens commented on #75
Sorry for being slow on this. Guess this is the only thing left to get translation on the website right?
Honestly i'\m not sure what kind of selector to choose. Think it should be simple and basis.
Something like below? I'm also ok if you guys make something, you have a better understanding of what is easy to add..

![image](https://cloud.githubusercontent.com/assets/13672737/15170908/c83fecf4-176

[2016-05-11 08:14] leo commented on #62
@davehakkens I honestly don't remember that it was possible to click on the difficulty. As far as we've implemented it, you can only click on the time...

[2016-05-11 08:15] leo commented on #75
@davehakkens Yep, why not! However, I think the icons should be flat and the language selector somewhere within our container (not outside).

[2016-05-11 12:15] davehakkens commented on #62
I think he just didn't t understood those chapters because nothing happened. Probably because there wasn't a video showing..

[2016-06-05 13:50] davehakkens commented on #75
Sorry this been on hold for so lang. Others things keep coming at my plate.
Whats the best way to proceed?  I'm ok if its inside the container, or footer if we need more space.
Lets finish this small tiny little step,  so we can get the excited translators going!

[2016-06-05 13:56] leo commented on #75
@davehakkens They're already able to contribute. But regarding the language selector, we'll need a polished design... :blush: I'd say at least put it into the footer and use some better flag icons.

[2016-06-05 13:58] davehakkens commented on #75
Ad, didn’t know that!
Is there a standard template/flag set we use? Or make something custom in sketch?

Op zondag 5 juni 2016, om 21:56 heeft Leo Lamprecht het volgende geschreven:

[2016-06-05 14:00] leo commented on #75
@davehakkens If you're able to make something custom in sketch/illustrator, that would probably be the cleanest way to do it! But if not, you can looks for a flat pack on [Icon Finder](https://www.iconfinder.com). The flags on your picture above seem like they aren't really flat (they're beveled).

[2016-06-05 14:02] davehakkens commented on #75
yes, those flags are a very rough picked example somewhere from google. Let me make something in Sketch.

Op zondag 5 juni 2016, om 22:00 heeft Leo Lamprecht het volgende geschreven:

[2016-06-05 15:24] davehakkens commented on #75
OK. made something in Sketch, in the footer of the website. A little button you can click with a dropdown to select another language. Attached you can find the information:
- a screenshot of the clicked, and non-clicked version desktop.
- a screenshot of the clicked, and non-clicked version mobile.
- Sketch file.
- A .zip with all flag icons. Not sure if you need it but who knows.

Hope that does

[2016-10-29 19:47] theel0ja opened #76 "Remove frameborders"
Remove those ugly frameborders.
![image](https://cloud.githubusercontent.com/assets/5832930/19832313/84a85f8c-9e29-11e6-92bf-55126e613bc9.png)
Page: [preciousplastic.com/en/videos/map](https://preciousplastic.com/en/videos/map/)

[2016-10-30 21:51] davehakkens commented on #76
Do it!

On 29 October 2016 at 21:47:24, Elias Ojala (notifications@github.com)
wrote:

Remove those ugly frameborders.
[image: image]
https://cloud.githubusercontent.com/assets/5832930/19832313/84a85f8c-9e29-11e6-92bf-55126e613bc9.png
Page: preciousplastic.com/en/videos/map

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
https://

[2017-07-05 09:58] thisismattia opened #80 "News isn't loading"
https://preciousplastic.com/en/news/

![image](https://user-images.githubusercontent.com/17761877/27859501-3be7493e-6179-11e7-9b8e-3fc32320301d.png)

[2017-07-05 09:59] davehakkens commented on #80
Do we keep news?

On 5 July 2017 at 11:58:27, Mattia (notifications@github.com) wrote:

https://preciousplastic.com/en/news/

[image: image]
<https://user-images.githubusercontent.com/17761877/27859501-3be7493e-6179-11e7-9b8e-3fc32320301d.png>

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/hakkens/precious-pl

[2017-11-20 18:22] cironis-adam commented on #68
Hey guys,
could you let me know what's the status of the guide on how to translate?
We want to translate the website to Czech but I don't think translating the HTML files is the right way to do it. It's not easy for general public and makes it uneasy for future code changes. I found a [Jekyll plugin](https://github.com/Anthony-Gaudino/jekyll-multiple-languages-plugin) which would implement variabl

[2018-05-17 08:03] catx23 opened #84 "Page Down/Up not working"
Hi,
in most places the page up & down keys are not working, a little annoying, especially if you have no mouse with wheel.
Do you have a recommendation where to fix this ? I'm happy to pass a pull request :-)
thanks,
guenter

[2018-05-17 21:14] davehakkens commented on #84
weird! Might be in the overflow in the CSS..
Could you share some pages where this occurs?

[2018-05-17 22:44] tx4x commented on #84
everywhere except the bazar:
davehakkens.nl & https://davehakkens.nl/community/forums/
but HOME & END keys is working.
ubuntu & windows 10, chrome & firefox latest
greets,
g

[2018-05-18 09:03] tx4x opened #85 "Bazar: How to improve filters: by region/country ?"
Hi,
do you have some pointers about how to introduce more filters: region/country?  It's really tedious to get through the items, just to check it's on a certain continent since the shipping are fees more likely a show breaker.

I was searching around how to contribute but I failed to get a development setup up & running. Could you add some more contribution guide ?
I am not sure where or how to s

[2018-05-18 09:55] davehakkens commented on #85
currently the bazar runs on [sharetribe](https://www.sharetribe.com/), external platform to text/run our beta version quickly. But very limited in customisation.. In the future we want to develop our own and we will be more flexible..

[2018-05-18 10:42] tx4x commented on #85
right, will checkout it anyways, thanks for now!

[2018-05-18 10:42] #85 closed

[2018-05-19 08:27] tx4x commented on #85
So I did check 'sharetribe', indeed, very limited. It's actally a trivial application and I could help with building the first prototype with React and Typescript (my personal favourite to build web-apps). All I need is the map marker data and I'm ready to go. To impl. the selling feature, there are wordpress plugins, though. Do you have already ideas about ? If not, I can write a proposal. Would

[2018-05-21 20:16] davehakkens commented on #85
Cool! Haven't really thought about it yet. Very open for proposals though!

[2018-05-22 05:44] nzchicken commented on #85
@tx4x I'm happy to help out with a React build. I've been meaning to learn Typescript for some time, so it's a good use case. I helped Dave out with building the maps, so can give you some guidance on how the pins work.

[2018-05-22 18:57] davehakkens commented on #85
Not sure if this is useful in any way or as a starting point but you can download sharetribe source code from github https://github.com/sharetribe/sharetribe

[2018-05-22 18:59] tx4x commented on #85
that helps! let me check, being quite busy right now with new machinery :-) back to you in a couple of days,
thanks for the heads up

[2018-05-25 18:19] tx4x commented on #85
@davehakkens it seems easy to extend, i am now just worried to host a custom version. i can do that for free but i've to maintain a fork as well. not sure the benefits out weight the efforts.

otherwise, i can go back to square one and write a proposal. i always prefer inhouse but we have to ensure it can be maintained without me. eventually we leave it as it is but we open a request to sharetribe

[2018-05-25 21:29] davehakkens commented on #85
square one! We are long term thinkers and our own platform is a crucial element for that :)

[2018-05-29 10:44] tx4x commented on #85
ok :-)
I will do this proposal/design til next monday; after that I can start coding since i have a little more time. See you soon,
kind regards,
guenter

[2018-05-29 11:07] tx4x commented on #85
I opened a dedicated repository for meta/design/template stuff [here](https://github.com/tx4x/precious-plastic-meta). Eventually you take it over sometime... There will be as next a POC (prove of concept) for the bazar, after we agreed on some points.

[2018-05-29 19:55] tx4x commented on #85
I never tested this but there is an Ebay API to create items! That could resolve a LOT of issues and problems, handling the overhead of user items should be almost the same than coding/maintaining a shopping portal. Just thinking loud :-)
g

[2018-05-29 20:08] tx4x commented on #85
most home machine guys i know don't run a web-site, they only have an ebay store.

here the pros:
- international exposure of recycled plastic (stock, products) , for free!
- handling of international shipping, billing, payments and refunds
- the whole interface/ui is there already
- PP becomes an credible plastic resource, faster than any other way i can imagine
- finally international filtering,

[2018-05-29 21:36] davehakkens commented on #85
Sounds cool! But in the future we also want to focus more on the plastic objects created by the community. We want to display them beautiful and deliver a proper a clean user experience. Ebay isn't really that..

[2018-05-29 22:33] tx4x commented on #85
Ok, we can still compile nice nightly build 'interfaces' fresh from Ebay, on the fly. To me, if it comes to shopping and building products, i won't be really interested in a custom shop interface. For that precious plastic is still too pro stuff anyways though; The idea is rather to build an elegant app around Ebay, just the whole shopping thing is solved :-) At the end it's just an adapter, not a

[2018-06-06 09:12] nzchicken commented on #85
@tx4x for some context, from the conversations I've had with Dave in the past, I think the general idea around precious plastic (even hakkens related stuff in general) is to try and keep it as opensource as possible, and to support opensource where possible. For things like hosting, options get limited, but coming to e-commerce, there's other options. So although dave ends up paying for ShareTribe

[2018-06-06 09:16] davehakkens commented on #85
nailed it @nzchicken

[2018-06-06 09:38] tx4x commented on #85
@nzchicken well, that's one of the stubborn reasons why I left the precious plastic project, at least for now. If you put this fancy requirements like open-source and utterly useless interface of sharetribe above actual outcome & success of the project, then to me the project is rather condemned to fail (just look at the sharetribe sales). It's like talking to hopeless hippies (i've spoken to hund

[2018-06-07 17:27] tx4x commented on #85
one thing you obviously don't want to realize or see:
the reason why precious plastic exists is because of inefficient recycling by the industry and general waste attitude of the population. now coming up with some fancy website, somewhere hidden in the web and no one knows about is plain stupid! Dave, I hope you wake up sometime and start realizing what you actually did to you and the others (res

[2018-06-07 18:29] davehakkens commented on #85
We’ve come a long way with very limited resources and believe we can do
much more following our approuch
Obviously people have different strategies and paths to get somewhere. No
clue if our way is right.
To only thing I can assure is we keep moving forward towards our goal.
You decide yourself to hop on or which lead to follow @tx4x

On 7 June 2018 at 19:27:11, tx4x (notifications@github.com) wro

[2018-08-07 20:47] zwn commented on #84
I experience the same issue with the page https://davehakkens.nl/community/forums/ and anything bellow. Up/down arrow isn't working either. The rest of the pages seems to be ok.

Tested on firefox & chrome on windows 10.

[2020-04-03 16:58] #58 closed, assigned to nobody

[2020-04-03 16:58] #62 closed, assigned to nobody

[2020-04-03 16:58] #68 closed, assigned to nobody

[2020-04-03 16:58] #75 closed, assigned to davehakkens

[2020-04-03 16:58] #76 closed, assigned to nobody

[2020-04-03 16:58] #80 closed, assigned to nobody

[2020-04-03 16:58] #84 closed

[2020-07-09 09:54] Jerzeek opened #90 "Menu bar not visible when I have it at half my screen"
![image](https://user-images.githubusercontent.com/22919620/87025105-40a7ee00-c1da-11ea-87c3-c23a348df646.png)

I can click where the hamburger menu should be but it's not visible
Windows 10
Chrome 83
15inch 1920x1080 screen

It happens when the screen is smaller than 1000px

✌

[2020-07-15 13:09] thisismattia commented on #90
Thanks @Jerzeek let me have a look 💪

[2020-09-28 23:32] JanetLaysEggs opened #91 "Code minification"
Currently it seems that the pages at https://community.preciousplastic.com/ use no code minification in any of the JS files. I recommend webpack or something similar to help with this and reduce server+ bandwidth load.

[2020-09-28 23:35] #91 closed, assigned to nobody

[2020-11-27 11:57] #90 closed, assigned to nobody